Transacciones/ConsumidorTWS/xml-resources/web-service-references/GestionTransaccion/wsdl/localhost_8080/TransaccionWS/GestionTransaccion.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://trans.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://trans.me.org/">

<xs:element name="Comprar" type="tns:Comprar"/>

<xs:element name="ComprarResponse" type="tns:ComprarResponse"/>

<xs:element name="Pagar" type="tns:Pagar"/>

<xs:element name="PagarResponse" type="tns:PagarResponse"/>

<xs:complexType name="Comprar">
<xs:sequence>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="numero_productos" type="xs:int"/>
<xs:element name="total" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ComprarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pagar">
<xs:sequence>
<xs:element name="numero_tarjeta" type="xs:string" minOccurs="0"/>
<xs:element name="monto" type="xs:double"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="codigo_CVV" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PagarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>